<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    
</head>
<body>
    <div id="app">
        
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline" >
                   
                    <label>
                        Name:
                        <input type="text" v-model="name" class="form-control">
                    </label>
                    <input type="button" value="添加" @click="add" class="btn btn-primary">
              </div>
        </div>
        



        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script>
    var vm = new Vue({
    el: '#app',
    data: {
        name:'',
        list:[
            {id:1,name:'奥玛',ctime:new Date()},
            {id:2,name:'奔驰',ctime:new Date()},
        ]
    },
    methods: {
        add(){

        },
        getAllList(){//获取所有品牌列表
            //1.已经导入Vue-resource ，可以直接通过 this.$http来发起数据请求
            //2.根据接口API文档，，获取列表的时候，应该发起一个get请求
            //3.this.$http.get('url').then(function(result){})
            //4.当通过then指定回调函数之后，在回调函数中，可以拿到数据服务器返回的result
            // 5.先判断result.status是否等于0，如果等于0，就成功，可以吧result.message赋值匪this.list,如果不等于0，可以弹框提醒，获取数据失败

            this.$http.get('http://').then(result=>{
                if(result.status ===0){
                    this.list=result.message
                }else{
                    alert('获取数据失败')
                }
            })
        }
    },
    });
    </script>
</body>
</html>